@import '_vars';
@import '_global';
@import '_fonts';
*,
html{
   box-sizing: border-box;
}
* {
   margin: 0;
   padding: 0;
 }
 body{
     a{
         color: black;
     }
 }


 //header start
.header{
  
    background-color: #171819;
    a{  
        color: #fff;
        transition: all .5s;
        &:hover{
            color: $redd;
        }
        
    }
    .header__inner{
        
        height:60px ;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    &__social{
        display: flex;
        justify-content: space-between;
        
        &-item{

            display: inline-block;
            & + &{
                margin-left: 20px;
            }
            a{
                transition: all .5s;
                &:hover{
                    svg{
                        fill: $redd;
                        
                    }
                }
            }
        }
        &-link{
            svg{
                transition: all .5s;
                fill: #FFF;
            }
        }
    }
}
.menu{
    margin-left: auto;
    display: flex;
    margin-right: 60px;
    li{
        font-size: 14px;
        text-transform: uppercase;
        display: inline-block;
        & + li {
            margin-left:60px ;
        }
    }
}
//header end


//section upgrade start
.upgrade{
    text-align: center;
   padding-top: 220px;
   padding-bottom: 250px;
    &__inner{
        opacity: 1 !important;
    }
    &__small-title{
        color:#909090 ;
    }
    &__title{
        color: #fff;
        padding-bottom: 50px;
        padding-top: 50px;
       max-width: 750px;
       margin: 0 auto;
        font-size: 50px;
        line-height: 70px;
    }
    &__button-odd{
        color: #fff;
        transition: all .5s;
        &:hover{
            color: $redd;
        }  
    }
    &__button-even{
        color: $redd;
        transition: all .5s;
        padding: 10px;
        border: 1px solid $redd;
        &:hover{
            border-color: #fff;
            background-color: #fff;
        }
    }
    a{
        font-size: 20px;
        line-height: 25px;
        & + a {
            margin-left: 50px;
            
        }
    }
   
}
// end upgrade section

//start newto section
.newto{
    background-color:#171819 ;
    color: #fff;
    &__inner{
        display: flex;
        justify-content: center;
        
    }
    &-title{
        text-align: left;
        font-size: 35px;
        line-height: 40px;
        span{
            text-align: justify;
            padding-top: 20px;
            padding-bottom: 35px;
            display: block;
            font-size: 20px;
            line-height: 26px;
            
        }
    }
    &__left{
        text-align: center;
        margin-top: 120px;
        margin-bottom: 100px;
        max-width: 660px;
        border-right: 1px solid #909090 ;
        padding-right: 100px;
        &-text{
            text-align: justify;
            font-size: 18px;
            line-height: 30px;
            color: #909090;
        }
        &-link{
            display: block;
            margin-top: 30px;
            font-size: 18px;
            line-height: 30px;
            color: #fff;
            padding: 10px;
            background-color:$redd;
            transition: all.5s;
            &:hover{
                color: $redd;
                background-color: #fff;
               
            }
        }

    }
    &__right{
        padding-top: 140px;
        padding-left: 60px;
        &-days{
            padding-top: 20px;
            li{
                font-size: 18px;
                line-height: 25px;
                & + li{
                    padding-top: 15px;
                }
                span{
                    display: block;
                    color: #909090;
                }
            }
        }
    }
   
}
// end newto section


//start hello section
.hello{
    background-color: #F9F9F9;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 150px 0;
        
    }
    &__description{
        padding-right: 20px;
        max-width: 680px;
        padding-left: 35px;
        font-size: 18px;
        line-height: 24px;
        &-title{
            color: #323232;
            font-size: 35px;
            line-height: 40px;

        }
        &-text{
            padding-top: 60px;
            padding-bottom: 40px;
            color: #666262;
        }
        &-bot{
           
            color: #666262;
            span{
                display: inline-flex;
                color: #323232;
                a{
                    transition: all .5s;
                    &:hover{
                        color: $redd;
                    }
                }
               
            }
        }
    }
    &__trainers{
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        &-box{
          border-radius: 10px;
            margin-left: 50px;
            background-color: #fff;
            width: 300px;
            height: 400px;
        }
        &-div{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            overflow: hidden;
            
            width: 300px;
            height: 300px;
            &-img{
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                width: 300px;
                height: 300px;
                transition: all .5s;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        
        &-name{
            font-size: 20px;
        }
        &-type{
            font-size: 14px;
            display: block;
            color: grey;
            padding-top: 5px;
        }
        &__bot{
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__social{
                svg{
                    transition: all .5s;
                    fill: grey;
                    &:hover{
                        fill: $redd;
                    }
                }
                li{
                    text-align: center;
                    display: block;
                }
               
            }
        }
    }

}
//end hello section


//start our section
.our{
    background-color: #F2F2F2;
    text-align: center;
   padding: 150px 0;
    &-inner{
    
        
    }
    &-title-small{
        color: #666262;
        font-size: 20px;
        line-height: 28px;
    }
    &-title{
        font-size: 30px;
        line-height: 38px;
        padding-top: 35px;
        padding-bottom: 80px;
    }
    &__items{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 340px;
        border-radius: 10px;
        &-div{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
           max-width: 340px;
           height: 230px;
           
            overflow: hidden;
        }
        &-img{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
           max-width: 340px;
            height: 230px;
            
            transition: all .5s; 
            &:hover{
                transform: scale(1.1);
            }
        }
        &__box{
            position: relative;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, .2);/* Параметры тени */
            padding: 20px;
            text-align: left;
            &-title{
                letter-spacing: 1px;
                font-weight: 700;
                padding-top: 10px;
                font-size: 20px;
                line-height: 28px;
                padding-bottom: 10px;
            }
            &-subtitle{
                padding-bottom: 40px;
                font-size: 16px;
                line-height: 20px;
                span{
                    color: #909090;
                }
            }
            &-price{
                position: absolute;
                top: 40px;
                right: 20px;
                display: inline-block;
               width: 50px;
               height: 50px;
                color: #fff;
                background-color: $redd;
                border-radius: 50%;
                span{
                    font-weight: 700;                    position: absolute;
                    transform: translate(-50%, -50%);
                    left: 50%;
                    top: 50%;
                }
            }
        }
    }
}
//end our section


//start timetable section
.timetable{
    color: white;
    text-align: center;
    background-color:#171819 ;
    padding: 100px 0;
    li{
       display: flex;
       align-items: center;
       flex-wrap: wrap;
       justify-content: center;
    }
    &-subtitle{
        font-size: 20px;
        line-height: 28px;
        color: #323232;
    }
    &-title{
        padding-top: 30px;
        padding-bottom: 70px;
        font-size: 30px;
        line-height: 38px;
        
    }
    &__box{
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        &-red-item{
            height: 50px !important;
        }
        &-time{
            
           li{
            width: 125px;
            height: 75px;
            background-color: $redd;
            & + li{
                border-top: 2px solid #323232;
            }
           
           }
        }
        &-day{
            li:nth-child(1){
                font-weight: 500;
                letter-spacing: 1px;
                text-transform: uppercase;
                border-left: 2px solid #323232;
                background-color: $redd;
            }
            li{
                max-width: 205px;
                padding: 5px;
                font-size: 18px;
                line-height: 24px;
                font-weight: 700;
                border-left: 2px solid #323232;
                height: 75px;
                background-color: #171819;
                transition: all .5s;
                & + li{
                    border-top: 2px solid #323232;
                }
                &:hover{
                    background-color: $redd;
                }
                span{
                    font-size: 14px;
                    color: #666262;
                display: block;
                }

            }
        }
    }
}
//end timetable section





   

 