@import '_vars';
@import '_global';
@import '_fonts';
*,
html{
   box-sizing: border-box;
}
* {
   margin: 0;
   padding: 0;
 }
 body{
     a{
         color: black;
     }
 }


 //header start
.header{
  
    background-color: #171819;
    a{  
        color: #fff;
        transition: all .5s;
        &:hover{
            color: red;
        }
        
    }
    .header__inner{
        
        height:60px ;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    &__social{
        display: flex;
        justify-content: space-between;
        
        &-item{

            display: inline-block;
            & + &{
                margin-left: 20px;
            }
            a{
                transition: all .5s;
                &:hover{
                    svg{
                        fill: red;
                        
                    }
                }
            }
        }
        &-link{
            svg{
                transition: all .5s;
                fill: #FFF;
            }
        }
    }
}
.menu{
    margin-left: auto;
    display: flex;
    margin-right: 60px;
    li{
        font-size: 14px;
        text-transform: uppercase;
        display: inline-block;
        & + li {
            margin-left:60px ;
        }
    }
}
//header end


//section upgrade start
.upgrade{
    text-align: center;
   padding-top: 220px;
   padding-bottom: 250px;
    &__inner{
        opacity: 1 !important;
    }
    &__small-title{
        color:#909090 ;
    }
    &__title{
        color: #fff;
        padding-bottom: 50px;
        padding-top: 50px;
       max-width: 750px;
       margin: 0 auto;
        font-size: 50px;
        line-height: 70px;
    }
    &__button-odd{
        color: #fff;
        transition: all .5s;
        &:hover{
            color: red;
        }  
    }
    &__button-even{
        color: red;
        transition: all .5s;
        padding: 10px;
        border: 1px solid red;
        &:hover{
            border-color: #fff;
            background-color: #fff;
        }
    }
    a{
        font-size: 20px;
        line-height: 25px;
        & + a {
            margin-left: 50px;
            
        }
    }
   
}



   

 